{% extends 'base.html' %}
{% block content %}
<h2>{{ action }} альбом</h2>
<form method="POST">
    <div class="mb-3">
        <label>Name of the album</label>
        <input type="text" name="title" class="form-control" value="{{ album.title if album else '' }}" required>
    </div>
    <div class="mb-3">
        <label>Year</label>
        <input type="number" name="year" class="form-control" value="{{ album.year if album else '' }}" required>
    </div>
    <div class="mb-3">
        <label>Cover URL (optional)</label>
        <input type="text" name="image_url" class="form-control" value="{{ album.image_url if album else '' }}">
    </div>
    <div class="mb-3">
        <label>Description</label>
        <textarea name="description" class="form-control" rows="3" required>{{ album.description if album else '' }}</textarea>
    </div>
    <div class="mb-3">
        <label>Track list (every song on new line)</label>
        <textarea name="tracklist" class="form-control" rows="5" required>{{ album.tracklist if album else '' }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
</form>
{% endblock %}