{% extends 'base.html' %}
{% block content %}
<div class="text-center mb-5">
    <h1>Band's history</h1>
</div>
<div class="row">
    <div>
        <p>
            Opeth was formed as a death metal band in April 1990 in Stockholm, Sweden, by David Isberg, with some friends from Täby; Isberg was the lead vocalist. The band name was taken from the Wilbur Smith novel The Sunbird, in which Opet is the name of a fictional city. Isberg asked former Eruption band member and guitarist Mikael Åkerfeldt to join Opeth as a bassist, replacing Martin Persson. When Åkerfeldt showed up to practice on the day after Isberg invited him, it became clear that Isberg had not told the band members, including the band's current bassist, that Åkerfeldt would be joining the band. An ensuing argument led to all members but Isberg and Åkerfeldt leaving to form a new project. At this time Opeth declared themselves to be the "most evil band in the world".
        </p>
        <p>
            Isberg and Åkerfeldt recruited drummer Anders Nordin, bassist Nick Döring, and guitarist Andreas Dimeo. Unsatisfied with Opeth's slow progress, Döring and Dimeo left the band after their first performance, and were replaced by guitarist Kim Pettersson and bassist Johan De Farfalla. After the next show, De Farfalla left Opeth to spend time with his girlfriend in Germany, and was initially replaced by Mattias Ander, before Åkerfeldt's friend Peter Lindgren took on the role of bassist. Rhythm guitarist Kim Pettersson left following the band's next performance, and Lindgren switched to guitar, with Stefan Guteklint taking over the role of bassist. In 1992, David Isberg left the band citing "creative differences".
        </p>
        <p>
            Following Isberg's departure, Åkerfeldt took over vocal duties and he, Lindgren, and Nordin spent the next year writing and rehearsing new material. The group began to rely less on the blast beats and aggression typical of death metal, and incorporated acoustic guitars and guitar harmonies into their music; developing the core sound of Opeth. Bassist Guteklint was dismissed by the band after they signed their first record deal with Candlelight Records in 1994. Opeth initially employed former member De Farfalla as a session bassist for their demo recordings, and he went on to join on a full-time basis following the release of Opeth's debut album, "Orchid", in 1995.
        </p>
    </div>
</div>
{% endblock %}