{% extends 'base.html' %}
{% block content %}
<div class="col-md-4 mx-auto">
    <h3 class="mb-3">Admin log in</h3>
    <form method="POST">
        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Login" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-dark w-100">Log in</button>
    </form>
</div>
{% endblock %}